{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {%- comment -%}
    TITLE (always shown)
    {%- endcomment -%}
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>

    {%- comment -%}
    DATE (always shown if present)
    {%- endcomment -%}
    {% if post.date %}
      <p class="page__date">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%B %d, %Y" }}
        </time>
      </p>
    {% endif %}

    {%- comment -%}
    EVERYTHING BELOW IS HIDDEN ON YEAR ARCHIVES
    {%- endcomment -%}
    {% unless page.layout == "year-archive" %}

      {% if post.excerpt %}
        <div class="archive__item-excerpt" itemprop="description">
          {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
          <a href="{{ base_path }}{{ post.url }}"> Read more →</a>
        </div>
      {% endif %}

      {% if post.read_time %}
        <p class="page__meta">
          <i class="fa fa-clock" aria-hidden="true"></i>
          {% include read-time.html %}
        </p>
      {% endif %}

      {% if post.collection == 'teaching' %}
        <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
      {% elsif post.collection == 'publications' %}
        <p>Published in <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
      {% endif %}

      {% if post.citation %}
        <p>
          Recommended citation: {{ post.citation }}
          {% if post.paperurl %}<br><a href="{{ post.paperurl }}">Download Paper</a>{% endif %}
          {% if post.slidesurl %} | <a href="{{ post.slidesurl }}">Download Slides</a>{% endif %}
          {% if post.bibtexurl %} | <a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endif %}
        </p>
      {% endif %}

    {% endunless %}

  </article>
</div>
